body {
    background-color: black;
    color: white;
    max-width: 900px;
    margin: auto;
}

head {
    margin-top: 35px;
    margin-bottom: 0;
}


article.jumbotron {
    text-align: center;
    background-image: url(https://picsum.photos/id/stage/900/600);
    padding: 50px 0 100px;
    font-size: 50px;
}


a {
    color: #411ab9;
}

h2 {
    color: #130372  
}
h2, h3 {
    text-align: center;
}

h2 + p {
    color: #ce56be
}

footer {
    margin-top: 50px;
    margin-bottom: 0
}